.menubar {
    width: 100%;
    height: 100%;
    background: var(--bg-light);
}

.menubar .menuheader {
    width: 100%;
    float: left;
    font-weight: bold;
    line-height: 36px;
    background: var(--dark-blue);
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
}

.menubar .menuheader img,
.menubar .menulist ul li img {
    width: 20px;
    margin: 8px;
    float: left;
    filter: brightness(0) invert(1);
    /* Make icons white */
}

.menubar .menulist {
    margin: 0;
    float: left;
    width: 100%;
    height: calc(100% - 40px);
    background: var(--primary-blue);
    overflow: auto;
}

.menubar .menulist ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

.menubar .menulist ul li {
    width: 100%;
    line-height: 40px;
    margin-top: 1px;
    background: var(--primary-blue);
    color: white;
    /* Text white */
    font-size: 0.95rem;
    border-left: 4px solid transparent;
    /* Highlight marker */
    padding-left: 5px;
    box-sizing: border-box;
}

.menubar .menulist ul li:hover {
    cursor: pointer;
    background: var(--sidebar-hover);
    border-left: 4px solid var(--accent-cyan);
}